[sys_stat]
sys_stat = pq://user:password@127.0.0.1:5432/sys_stat

[main]
sleep_interval = 1200
preload_logs_interval = 0		#in hours

application_name = pg_stat_log_scanner

node_name = "test node"
node_descr = "descr"
node_host = "192.168.0.50"

time_zone = Europe/Moscow

pg_log_dir = /var/log/pg_log
pg_log_line_max_len = 1100
pg_log_file_extension = csv