[databases]

PSC_DATABASES_PYPG

[main]
port = PG_STAT_MONITOR_PORT
allow_host = "PG_STAT_MONITOR_ALLOW_HOSTS"
enable_exception_catching = 1
application_name = pg_stat_monitor
time_zone = PSC_TIME_ZONE
application_max_mem = 1200    						#in MB
max_workers = 4
db_pool_size = 3
db_pool_recycle = 14400

timezone_correct_time_backward = " - interval '0 hour'"   					#sql expr for "+ interval 'timezone_correct_time'"
timezone_correct_time_forward = " + interval '0 hour'"
pg_log_dir = PSC_PG_LOG_DIR
pg_log_line_max_len = 3000
pg_log_file_extension = csv
hide_password_in_queries = t
hide_host_in_queries = t
