#pg_stat_sys is main collector of statistics from the OS and DB

[databases]
#Section "databases" contains all observed databases on current node in pypostgresql format,

PSC_DATABASES_PQ

[sys_stat]
#Section "sys_stat" contains one required parameter: sys_stat
#Port can be set to pgbouncer or directly to the database

sys_stat = pq://MAIN_DB_USER:MAIN_DB_PASSW@MAIN_DB_HOST:MAIN_DB_PORT/MAIN_DB_NAME

[main]
#This section contains main configuration parameters

collect_pg_sys_stat = 1			#collect statistic of DB
collect_pg_conn_snapshot = 1	#collect snapshots of connections and locks
collect_os_stat = 1				#collect statistic of OS

sleep_interval_pg_sys_stat = 300		#sleep interval for make snapshots of DB statistic
sleep_interval_pg_conn_snapshot = 300	#sleep interval for make snapshots of connections and locks
sleep_interval_os_stat = "34 10"		#sleep interval for make snapshots of OS statistic
										#default "34 10" = ~5 min (iostat -d -c -m -x 34 10), сheck this value 
										#on your system or see the documentation https://linux.die.net/man/1/iostat
										
sleep_interval_os_stat_if_iostat_not_working = 300	#On some systems, the iostat does not start (for example, in containers), 
										#but the execution delay is taken into account in the logic when collecting network device statistics
										#Value of this parameter must be equal to sleep_interval_os_stat
										
sleep_interval_pg_single_db_sn = 10		#sleep interval for frequently observed metrics like autovacuum workers activity, locks, connection states
pg_single_db_sn_steps = 30				#the number of measurements of a certain metric that will be aggregated into one value of this metric
										#thus every "sleep_interval_pg_single_db_sn * pg_single_db_sn_steps / 60" minutes the result metric will be calculated
										#with pre-aggregation of the values collected at intervals of sleep_interval_pg_single_db_sn

sleep_interval_on_exception = 10		#sleep interval in case of an exception

application_name = pg_stat_sys			#app name for displaying in pg_stat_activity and naming log file

node_name = PSC_NODE_NAME				#Name of the current node
node_descr = PSC_NODE_DESCR				#Description of the current node
node_host = PSC_NODE_HOST				#Hostname or IP of the current node
										#value of this parameter is used to proxy the requests to pg_stat_monitor

locks_limit_in_snapshot = 300			#How many "locks by pairs" can be contained in the snapshot
top_rels_in_snapshot = 20				#For each metric of DB (for example n_tup_upd_per_sec): how many relations can be contained in the top
top_stm_queries_in_snapshot = 20		#For each metric of pg_stat_statements: how many queries can be contained in the top

time_zone = PSC_TIME_ZONE				#value for query "SET timezone = '$1';"