#In this file all sections are required. If some section has no parameters you can leave this section is blank.
#This file contains configuration for pg_stat_console.py. 
#pg_stat_console is main application which displays the web interface and also makes requests to the distributed nodes "pg_stat_monitor"

[sys_stat]
#Section "sys_stat" contains two required parameters: sys_stat and sys_stat_conn_str_direct
#Parameter "sys_stat" has the format compatible with SQLAlchemy, 
#see http://docs.sqlalchemy.org/en/latest/dialects/postgresql.html#module-sqlalchemy.dialects.postgresql.pypostgresql
#Parameter "sys_stat_conn_str_direct" has pypostgresql format, 
#example http://python.projects.pgfoundry.org/docs/1.1/driver.html#postgresql-open
#Port can be set for pgbouncer or directly to the database
#If you use pgbouncer you must set "ignore_startup_parameters = client_min_messages" and "pool_mode = session" in pgbouncer.ini
#Both parameters refers to one and the same base which is the centralized storage for collected statistics

sys_stat = postgresql+pypostgresql://app_user:passw@127.0.0.1:6432/sys_stat_dev
sys_stat_conn_str_direct = pq://app_user:passw@127.0.0.1:6432/sys_stat_dev

[main]
port = 8888
pg_stat_monitor_port = 8889
enable_exception_catching = 1
application_name = pg_stat_console
time_zone = Europe/Moscow
application_max_mem = 1200    						#in MB
max_workers = 4
db_pool_size = 3
db_pool_recycle = 14400
timezone_correct_time_backward = " - interval '0 hour'"   					#sql expr for "+ interval 'timezone_correct_time'"
timezone_correct_time_forward = " + interval '0 hour'"
page_refresh_interval = 20							#in seconds, min 3
hide_password_in_queries = t
hide_host_in_queries = t

[custom_params]
application_title = PostgreSQL Stat Console DB1
help_msg = <p>admin phone</p>
#demo_dt_a = "2017-01-28 12:00:00"
#demo_dt_b = "2017-01-28 15:00:00"

[users]
demo = password	
admin = password		#user = password
viewer = password

[users_rights]
admin = admin
demo = user
viewer = user

[users_dashboards]
admin = getCPUStat,duration=12;getMemUsageStat,duration=4;getLog,duration=2;getDiskUtilStat,duration=24;getWriteStat,duration=5

[nodes_visibility]
viewer = "test node, node 2"