[databases]
test_dev = pq://app_user:passw@127.0.0.1:6432/test_dev

[sys_stat]
sys_stat = pq://app_user:passw@127.0.0.1:6432/sys_stat_dev

[main]
collect_pg_sys_stat = 1
collect_pg_conn_snapshot = 1
collect_os_stat = 1

sleep_interval_pg_sys_stat = 300
sleep_interval_pg_conn_snapshot = 300
sleep_interval_os_stat = "34 10"		#default "34 10"
sleep_interval_pg_single_db_sn = 10
pg_single_db_sn_steps = 30

sleep_interval_on_exception = 10

application_name = pg_stat_sys

node_name = "test node"
node_descr = "descr"
node_host = "192.168.0.50"

locks_limit_in_snapshot = 200
top_rels_in_snapshot = 20

time_zone = Europe/Moscow