[sys_stat]
sys_stat = postgresql+pypostgresql://app_user:passw@127.0.0.1:6432/sys_stat_dev
sys_stat_conn_str_direct = pq://app_user:passw@127.0.0.1:6432/sys_stat_dev

[main]
port = 8888
pg_stat_monitor_port = 8889
enable_exception_catching = 1
application_name = pg_stat_console
time_zone = Europe/Moscow
application_max_mem = 1200    						#in MB
max_workers = 4
db_pool_size = 3
db_pool_recycle = 14400
timezone_correct_time_backward = " - interval '0 hour'"   					#sql expr for "+ interval 'timezone_correct_time'"
timezone_correct_time_forward = " + interval '0 hour'"
page_refresh_interval = 20							#in seconds, min 3
hide_password_in_queries = t
hide_host_in_queries = t

[custom_params]
application_title = PostgreSQL Stat Console DB1
help_msg = <p>admin phone</p>

[users]
demo = password	
admin = password		#user = password
viewer = password

[users_rights]
admin = admin
demo = user
viewer = user

[users_dashboards]
admin = getCPUStat,duration=12;getMemUsageStat,duration=4;getLog,duration=2;getDiskUtilStat,duration=24;getWriteStat,duration=5

[nodes_visibility]
viewer = "test node, node 2"